:root {
  --bag: #212425;
  --bag2: rgb(221, 221, 221);
}
.contact {
  background-color: #111;
  min-height: 100vh;
  padding: 75px 0;
  position: relative;
  color: var(--colorwhite);
}
.contact .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 50px 0;
  gap: 20px;
}
.contact .title h2 {
  font-size: 50px;
}
.contact .title span {
  display: flex;
  width: 200px;
  height: 3px;
  background: var(--primary);
}
.contact .info-itme {
  background-color: var(--bag);
  padding: 30px 20px;
  margin: 0 0 25px;
  display: flex;
  gap: 20px;
  border-radius: 16px;
  direction: ltr !important;
  text-align: justify !important;
}
.contact .info-itme h6 {
  color: #a6a6a6;
}
form {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bag);
  padding-top: 10px;
}
form input {
  display: flex;
  width: 95%;
  padding: 10px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 18px;
  color: white;
  transition: 0.4s;
  font-size: 19px;
}
form input:focus {
  border-bottom: 2px solid green;
}
form input:invalid {
  border-bottom: 2px solid var(--primary);
}
form input::placeholder {
  font-size: 19px;
}
form textarea {
  display: flex;
  width: 95%;
  height: 110px;
  outline: none;
  border: none;
  padding: 10px;
  background: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 18px;
  color: white;
  font-size: 19px;
  transition: 0.4s;
}
form textarea:focus {
  border-bottom: 2px solid green;
}
form textarea:invalid {
  border-bottom: 2px solid var(--primary);
}
form textarea::placeholder {
  font-size: 19px;
}
form .button {
  text-align: start;
  width: 100%;
}
form .button button {
  margin: 0 30px 20px 30px !important;
  padding: 5px 40px;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 19px;
  background: transparent;
  color: white;
  transition: 0.4s;
}
form .button button:hover {
  background-color: var(--primary);
}
@media (max-width: 500px) {
  .contact .title {
    display: grid;
    width: 100%;
    gap: 0;
    justify-content: center;
  }
  .contact .title span {
    width: 250px;
    height: 3px;
    background: var(--primary);
  }
  .contact .title h2 {
    font-size: 50px;
    display: flex;
    justify-content: center !important;
  }
}
[data-theme="light"] {
  .contact {
    background-color: white;
    min-height: 100vh;
    padding: 75px 0;
    color: var(--colorblack);
  }
  form {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bag2);
    padding-top: 10px;
  }
  .contact .info-itme {
    background-color: var(--bag2);
    padding: 30px 20px;
    margin: 0 0 25px;
    display: flex;
    gap: 20px;
    border-radius: 16px;
  }
  .contact .info-itme h6 {
    color: #404040;
  }
  form input {
    display: flex;
    width: 95%;
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    margin-bottom: 19px;
    color: black;
    transition: 0.4s;
  }
  form input:focus {
    border-bottom: 3px solid green;
  }
  form input:invalid {
    border-bottom: 3px solid var(--primary);
  }
  form textarea {
    display: flex;
    width: 95%;
    height: 110px;
    outline: none;
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 3px solid black;
    margin-bottom: 19px;
    color: black;
    transition: 0.4s;
  }
  form textarea:focus {
    border-bottom: 3px solid green;
  }
  form textarea:invalid {
    border-bottom: 3px solid var(--primary);
  }
  form .button button {
    margin: 0 0 20px 30px;
    padding: 5px 40px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 19px;
    background: transparent;
    color: black;
    transition: 0.4s;
  }
  form .button button:hover {
    background-color: var(--primary);
  }
}
.custom-toast {
  z-index: 99999999 !important;
  top: 80px !important;
  max-width: 300px !important;
  right: 50px !important;
  margin: auto !important;
}
.Toastify__toast {
  right: 15px !important;
}
@media (max-width: 480px) {
  .custom-toast {
    z-index: 99999999 !important;
    top: 80px !important;
    max-width: 300px !important;
    right: 0px !important;
    margin: auto !important;
    margin-left: 50px !important;
  }
}
.Toastify__toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
